//- includes/panel.jade
div(class="panel panel-default gamePanel")
  div(class="panel-body")
    h3(class="ellipsis")
      a(href="/games/#{game.gameId}" class="gameName") #{game.gameName}
    div(class="panelTags ellipsis")
      - var tags = game.tags.split('\n');
      each tag in tags
        span(class="label label-default")
          a(href="/games/tags/#{tag}" class="tag") #{tag}
    ul(class="icons")
      li
        - var commentCount = game.comments.length
        i(class="fa fa-commenting-o" aria-hidden="true")
        span(class="badge commentCount") #{commentCount}
      if user
        li
          - var favorite = favoriteMap.get(game.gameId) || 0
          - var favoriteButtonStyles = ['fa-star-o', 'fa-star'];
          i(class="fa #{favoriteButtonStyles[favorite]} favorite-toggle-button isPointer" aria-hidden="true" data-game-id="#{game.gameId}" data-user-id="#{user.id}" data-favorite="#{favorite}")
        li
          - var like = likeMap.get(game.gameId) || 0
          - var likeCount = likeCountMap.get(game.gameId) || 0
          - var likeButtonStyles = ['fa-heart-o', 'fa-heart'];
          i(class="fa #{likeButtonStyles[like]} like-toggle-button isPointer" aria-hidden="true" data-game-id="#{game.gameId}" data-user-id="#{user.id}" data-like="#{like}")
          span(class="badge likeCount") #{likeCount}
      else
        li
          i(class="fa fa-star-o" aria-hidden="true")
        li
          - var likeCount = likeCountMap.get(game.gameId) || 0
          i(class="fa fa-heart-o" aria-hidden="true")
          span(class="badge likeCount") #{likeCount}
