extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
      li(class="breadcrumb-item")
        a(href="/") Home
      li(class="breadcrumb-item active")
        a(href="/games/#{game.gameId}") #{game.gameName}
      li(class="breadcrumb-item active") Edit

  //- ゲームの編集
  div(class="well clearfix")
    form(class="form-horizontal" method="post" action="/games/#{game.gameId}?edit=1")
      input(type="hidden" name="_csrf" value!="#{csrfToken}")
      div(class="form-group")
        label(class="col-sm-2 control-label" for="gameName") ゲームタイトル
        div(class="col-sm-9")
          input(id="gameName" class="form-control" type="text" name="gameName" value="#{game.gameName}")
        div(class="form-group")
          div(class="col-sm-1")
            button(class="btn btn-default" type="submit") 変更
      div(class="form-group")
        label(class="col-sm-2 control-label" for="tags") タグ
        div(class="col-sm-9")
          textarea(id="tags" class="form-control" name="tags" rows="3") #{game.tags}
        div(class="form-group")
          div(class="col-sm-1")
            button(class="btn btn-default" type="submit") 変更
      div(class="form-group")
        label(class="col-sm-2 control-label" for="editPrivacy") プライバシー設定
        div(class="col-sm-9")
          select(id="editPrivacy" class="form-control" name="privacy" data-privacy="#{game.privacy}")
            option(value="0") 非公開
            option(value="1") 公開
        div(class="form-group")
          div(class="col-sm-1")
            button(class="btn btn-default" type="submit") 変更

  //- ステージの追加と削除
  div(class="well")
    div(id="stagePost" class="well")
      form(method="post" action="/games/#{game.gameId}/stages" class="form-horizontal")
        input(type="hidden" name="_csrf" value!="#{csrfToken}")
        div(class="form-group")
          label(class="col-sm-2 control-label" for="stageTitle") タイトル
          div(class="col-sm-10")
            input(id="stageTitle" class="form-control" type="text" name="stageTitle" placeholder="こんにちは、世界！" required)
        div(class="form-group")
          label(class="col-sm-2 control-label" for="stageContent") タイピングの文章
          div(class="col-sm-10")
            textarea(id="stageContent" class="form-control" name="stageContent" rows="3" placeholder="console.log('Hello, World!');" required)
        div(class="form-group")
          div(class="col-sm-offset-2 col-sm-10")
            button(class="btn btn-info" type="submit") 追加
            p(class="help-block") ※複数追加することができます
    - var hasStages = stages.length > 0
    if hasStages
      div(class="panel panel-primary well")
        each stage in stages
          div(class="panel-heading")
            span(class="panel-title panelStageTitle") #{stage.stageTitle}
            span(class="pull-right") #{stage.formattedUpdatedAt}
          div(class="panel-body clearfix")
            pre(class="panelContent prettyprint panelStageContent") #{stage.stageContent}
            form(method="post" action="/games/#{game.gameId}/stages/delete")
              input(type="hidden" name="_csrf" value!="#{csrfToken}")
              input(type="hidden" name="stageId" value="#{stage.stageId}")
              button(class="btn btn-danger pull-right btn-sm" type="submit") 削除
