extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
      li(class="breadcrumb-item")
        a(href="/") Home
      li(class="breadcrumb-item active") #{game.gameName}
    div(class="row")


  form(method="post" action="/games/#{game.gameId}/stages?edit=1")
    div(class="form-group")
      label(for="stageTitle") ステージタイトル
      input(id="stageTitle" class="form-control" type="text" name="stageTitle")
    div(class="form-group")
      label(for="stageContent") ステージコンテンツ
      textarea(id="stageContent" class="form-control" name="stageContent")
    div(class="form-group pull-right")
      button(class="form-control btn btn-info" type="submit") ステージの追加
    div(class="row")

  each stage in stages
    div(class="panel panel-default")
      div(class="panel-heading")
        h4(class="panel-title") #{stage.stageTitle}
      div(class="panel-body")
        p(class="panel-text") #{stage.stageContent}
      div(class="panel-footer")
        form(method="post" action="/games/#{game.gameId}/stages?delete=1")
          input(type="hidden" name="stageId" value="#{stage.stageId}")
          button(class="btn btn-danger" type="submit") Delete

  form(method="post" action="/games/#{game.gameId}?edit=1")
    div(class="form-group")
      label(for="gameName") ゲームネーム
      input(id="gameName" class="form-control" type="text" name="gameName" value="#{game.gameName}")
    div(class="form-group")
      label(for="tags") タグ
      textarea(id="tags" class="form-control" name="tags") #{tags}
      p(class="help-block") ※複数入力する場合は改行してください
    div(class="form-group")
      label(for="editPrivacy") プライバシー
      select(id="editPrivacy" class="form-control" name="privacy" data-privacy="#{game.privacy}")
        option(value="secret") 非公開
        option(value="public") 公開
    div(class="form-group btn-group pull-right")
      button(class="btn" type="submit") 保存
