extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
    li(class="breadcrumb-item")
      a(href="/") Home
    li(class="breadcrumb-item active") #{game.gameName}

  div(class="jumbotron")
    if user
      - var isMine = parseInt(user.id) === parseInt(game.createdBy)
      if isMine
        form(method="post" action="/games/#{game.gameId}?delete=1")
          button(class="btn btn-danger pull-right" type="submit") 削除
          a(href="/games/#{game.gameId}/edit" class="btn btn-warning pull-right") 編集
    h2 #{game.gameName}
    h3 @#{game.user.username} 
      small #{game.updatedAt} 更新

  each stage in stages
    div(class="panel panel-default")
      div(class="panel-heading")
        h4(class="panel-title") #{stage.stageTitle}
      div(class="panel-body")
        p(class="panel-text") #{stage.stageContent}
      div(class="row")
  
  hr
  div
    h3 投稿一覧
      each comment in comments
        div(class="panel panel-default")
          div(class="panel-heading")
          div(class="panel-body")
            p #{comment.commentId}
            p #{comment.createdAt}
            p #{comment.postedBy}
            p #{comment.comment}
          div(class="panel-footer")


  if user
    div
      h3 コメントの投稿
      form(method="post" action="/games/#{game.gameId}/comments")
        div(class="form-group")
          textarea(name="comment" class="form-control" rows="2")
        div(class="form-group")
          button(type="submit" class="btn btn-info pull-right") 投稿
