extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
    li(class="breadcrumb-item")
      a(href="/") Home
    li(class="breadcrumb-item active") #{game.gameName}

  div(class="jumbotron")
    h3 @#{game.user.username}
    small #{game.formattedCreatedAt} 更新
    h4 #{game.privacy}
    h2 #{game.gameName}
    h4
      each tag in game.tags
        span(class="label label-primary") #{tag}


    if user
      - var isMine = (user.id === game.createdBy)
      if isMine
        a(href="/games/#{game.gameId}/edit" class="btn btn-warning pull-right") 編集
      - var isDeletable = (user.id === game.createdBy || user.id === '30428943')
      if isDeletable
        form(method="post" action="/games/#{game.gameId}?delete=1")
          input(type="hidden" name="_csrf" value!="#{csrfToken}")
          button(class="btn btn-danger pull-right" type="submit") 削除


  each stage in stages
    div(class="panel panel-default")
      div(class="panel-heading")
        h4(class="panel-title monospace") #{stage.stageTitle}
      div(class="panel-body")
        p(class="panel-text monospace") #{stage.stageContent}
      div(class="row")
  hr
  - var hasComments = comments.length > 0
  if hasComments
    h3 投稿一覧
    each comment in comments
      div(class="panel panel-default")
        div(class="panel-heading")
        div(class="panel-body")
        - var isPostedByAdmin = (comment.postedBy === '30428943')
        if isPostedByAdmin
          p #{comment.commentId} : 管理人 ★
          p #{comment.comment}
          p #{comment.postedBy}
          p #{comment.createdAt}
        else
          p #{comment.commentId}
          p #{comment.comment}
          p #{comment.postedBy}
          p #{comment.createdAt}
        div(class="panel-footer")
          if user
            - var isDeletable = (user.id === comment.postedBy || user.id === '30428943')
            if isDeletable
              form(method="post" action="/games/#{game.gameId}/comments?delete=1")
                input(type="hidden" name="_csrf" value!="#{csrfToken}")
                input(type="hidden" name="id" value="#{comment.commentId}")
                button(type="submit") 削除

  //- コメントの投稿
  if user
    div
      h3 コメントの投稿
      form(method="post" action="/games/#{game.gameId}/comments")
        input(type="hidden" name="_csrf" value!="#{csrfToken}")
        div(class="form-group")
          textarea(name="comment" class="form-control" rows="2")
        div(class="form-group")
          button(type="submit" class="btn btn-info pull-right") 投稿
  else
    p コメントするにはログインする必要があります。
