extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
    li(class="breadcrumb-item")
      a(href="/") Home
    li(class="breadcrumb-item active") #{game.gameName}

  div(class="jumbotron")
    img(src="#{game.user.image}" alt="userImage" class="img-circle pull-left userImage")
    span #{game.user.username}
    small #{game.formattedCreatedAt} 更新
    h4 #{game.privacy}
    h2 #{game.gameName}
    - var tags = game.tags.split('\n');
    each tag in tags
      a(class="label label-primary" href="/games/tags/#{tag}") #{tag}

    if user
      - var isMine = (user.id === game.createdBy)
      if isMine
        a(href="/games/#{game.gameId}/edit" class="btn btn-warning pull-right") 編集
      - var isDeletable = (user.id === game.createdBy || user.id === '30428943')
      if isDeletable
        form(method="post" action="/games/#{game.gameId}?delete=1")
          input(type="hidden" name="_csrf" value!="#{csrfToken}")
          button(class="btn btn-danger pull-right" type="submit") 削除

  - var hasStages = stages.length > 0
  if hasStages
    each stage in stages
      div(class="panel panel-default")
        div(class="panel-heading")
          span #{stage.formattedUpdatedAt}
        div(class="panel-body")
          pre(class="panel-title prettyprint") #{stage.stageTitle}
          pre(class="panel-text prettyprint") #{stage.stageContent}
        div(class="row")

  hr

  - var hasComments = comments.length > 0
  if hasComments
    h3 投稿一覧
    each comment in comments
      div(class="panel panel-default")
        div(class="panel-heading")
        div(class="panel-body")
        - var isPostedByAdmin = (comment.postedBy === '30428943')
        if isPostedByAdmin
          p #{comment.commentId} : 管理人 ★
          p #{comment.comment}
          p #{comment.postedBy}
          p #{comment.formattedUpdatedAt}
        else
          p #{comment.commentId}
          p #{comment.comment}
          p #{comment.postedBy}
          p #{comment.formattedUpdatedAt}
        div(class="panel-footer")
          if user
            - var isDeletable = (user.id === comment.postedBy || user.id === '30428943')
            if isDeletable
              form(method="post" action="/games/#{game.gameId}/comments?delete=1")
                input(type="hidden" name="_csrf" value!="#{csrfToken}")
                input(type="hidden" name="commentId" value="#{comment.commentId}")
                button(type="submit") 削除

  //- コメントの投稿
  if user
    div
      h3 コメントの投稿
      form(method="post" action="/games/#{game.gameId}/comments")
        input(type="hidden" name="_csrf" value!="#{csrfToken}")
        div(class="form-group")
          textarea(name="comment" class="form-control" rows="2")
        div(class="form-group")
          button(type="submit" class="btn btn-info pull-right") 投稿
  else
    p コメントするにはログインする必要があります。
