extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
    li(class="breadcrumb-item")
      a(href="/") Home
    li(class="breadcrumb-item active") #{game.gameName}

  div(class="well clearfix")
    h4
      img(src="#{game.user.image}" alt="userImage" class="img-circle pull-left userImage")
      a(href="/games/users/#{game.user.userId}" id="userLink") #{game.user.username}
      small(class="pull-right") #{game.formattedCreatedAt}
    h3 #{game.gameName}
    - var tags = game.tags.split('\n');
    h4
      each tag in tags
        a(class="label label-default ellipsis" href="/games/tags/#{tag}") #{tag}
      
    if user
      div
        if game.privacy === 'secret'
          h4: span(class="label label-primary pull-left") 非公開
        else if game.privacy === 'public'
          h4: span(class="label label-warning pull-left") 公開
        - var isDeletable = (user.id === game.createdBy || user.id === '30428943')
        if isDeletable
          form(method="post" action="/games/#{game.gameId}?delete=1")
            input(type="hidden" name="_csrf" value!="#{csrfToken}")
            button(class="btn btn-danger pull-right" type="submit") ゲームの削除
        - var isMine = (user.id === game.createdBy)
        if isMine
          a(href="/games/#{game.gameId}/edit" class="btn btn-info pull-right") 問題の作成とゲームの編集

  - var hasStages = stages.length > 0
  if hasStages
    div(class="well")
      h3 問題一覧
      div(class="panel panel-primary well")
        each stage in stages
          div(class="panel-heading clearfix")
            span(class="panel-title prettyprint") #{stage.stageTitle}
            span(class="pull-right") #{stage.formattedUpdatedAt}
          div(class="panel-body")
            pre(class="panel-text prettyprint") #{stage.stageContent}
          div(class="row")

  div(id="comment-wrapper")
    - var hasComments = comments.length > 0
    if hasComments
      h3(id="commentHeader") コメント一覧
      div(id="commentList")
        div(class="panel panel-default")
          each comment in comments
            div(class="panel-heading commentHeader")
              img(src="#{game.user.image}" alt="userImage" class="img-circle pull-left userImage")
              span #{comment.user.username}
              span(class="pull-right") #{comment.formattedUpdatedAt}
            div(class="panel-body clearfix")
              p #{comment.comment}
              if user
                - var isDeletable = (user.id === comment.postedBy || user.id === '30428943')
                if isDeletable
                  form(method="post" action="/games/#{game.gameId}/comments?delete=1")
                    input(type="hidden" name="_csrf" value!="#{csrfToken}")
                    input(type="hidden" name="commentId" value="#{comment.commentId}")
                    button(type="submit" class="btn btn-danger btn-sm pull-right") 削除
    //- コメントの投稿
    div(id="commentPost")
      if user
        div(class="well")
          form(method="post" action="/games/#{game.gameId}/comments" class="form-horizontal")
            input(type="hidden" name="_csrf" value!="#{csrfToken}")
            div(class="form-group")
              label(for="comment" class="col-sm-2 control-label") コメントの投稿
              div(class="col-sm-10")
                textarea(id="comment" name="comment" class="form-control" rows="2")
            div(class="form-group")
              div(class="col-sm-offset-2 col-sm-10")
                button(type="submit" class="btn btn-info") 投稿
      else
        div(class="well")
          p コメントするにはログインする必要があります。
          a(href="/login" type="button" class="btn btn-success btn-block") ログイン