extends layout

block content
  //- パンくずリスト
  ol(class="breadcrumb")
    li(class="breadcrumb-item active")
      a(href="/") Home
  //- タブ
  ul(class="nav nav-tabs")
    if user
      li(class="active")
        a(href="/") Home
      li
        a(href="/users/#{user.id}/gemes") #{user.username}
    else
      li(class="active")
        a(href="/") Home
  //- パネル
  - var hasGames = games.length > 0
  if hasGames
    each game in games
      div(class="row")
      div(class="panel panel-default")
        div(class="panel-body")
          h3 #{game.gameName}
          h4 #{game.privacy}
          h4
            each tag in game.tag
              span(class="label label-info") #{tag}
          - var stages = JSON.stringify(Array.from(gameMap.get(game.gameId)))
          a(id="playGame" class="btn btn-default" data-stages="#{stages}" data-toggle="modal" href="##{game.gameId}") start
          a(class="btn btn-default" href="/games/#{game.gameId}") 詳しく見る
      //- modal
      div(class="modal fade" id="#{game.gameId}")
        div(class="modal-dialog modal-lg")
          div(class="modal-content")
            //- start
            div(id="modalStart")
              div(class="modal-body")
                  h1 すたーと
                div(class="modal-footer")
                  button(class="btn btn-default" data-dismiss="modal") Close
            //- playing
            div(id="modalPlaying")
              div(class="modal-body")
                div(id="modalTitle") たいとる

                pre(id="modalContent" class="pre-scrollable") こんてんつ

                div(id="modalKeyboard") きーぼーど
              div(class="modal-footer")
                button(class="btn btn-default" data-dismiss="modal") Close
            //- result
            div(id="modalResult")
              div(class="modal-body")
                div(id="result")
              div(class="modal-footer")
                button(id="twitterBtn" class="btn btn-default") ツイート
                button(id="missOnlyBtn" class="btn btn-default") ミスだけ
                button(id="replayBtn" class="btn btn-default") もう一回
                button(class="btn btn-default" data-dismiss="modal") 閉じる
